* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 3rem;
}

.open-btn {
  padding: .5rem 1rem;
  background-color: rgb(13 148 136 / 1);
  border: 1px solid rgb(13 148 136 / 1);
  border-radius: .375rem;
  color: #fff; 
  cursor: pointer;
  font-size: 18px;
}

